Email Processor.json
{
  "name": "Email Processor",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -272,
        0
      ],
      "id": "e7afb83f-df86-48ff-ad35-98b9102cc0fb",
      "name": "Gmail Trigger",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyAs0T5WCo6Qx-YX9W6NZA9rgBGZsH60EO0",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyAs0T5WCo6Qx-YX9W6NZA9rgBGZsH60EO0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Classify this email into one of these categories: sales, support, complaint, general.\\nReturn ONLY one word in lowercase.\\n\\nEmail:\\n{{$node['Gmail Trigger'].json['snippet']}}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "70bb5bde-2811-4508-bb57-384ab52a829f",
      "name": "Gemini AI classification"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "emails",
          "mode": "list",
          "cachedResultName": "emails"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "response_sent": false,
            "sender_email": "={{$node[\"Gmail Trigger\"].json[\"From\"]}}",
            "subject": "={{$node[\"Gmail Trigger\"].json[\"Subject\"]}}",
            "body": "={{$node[\"Gmail Trigger\"].json[\"snippet\"]}}",
            "category": "=general"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "response_sent",
              "displayName": "response_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        0
      ],
      "id": "61771f9d-3e37-4279-b710-7110d1c75b73",
      "name": "Insert Email in Database",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyAs0T5WCo6Qx-YX9W6NZA9rgBGZsH60EO0",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyAs0T5WCo6Qx-YX9W6NZA9rgBGZsH60EO0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "=JSON",
        "body": "=={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Write a short professional email reply (max 3 sentences).\\n\\nCategory: \" + $json.category + \"\\n\\nCustomer email:\\n\" + $json.body + \"\\n\\nRules:\\n- Be polite\\n- Be concise\\n- Tailor the response based on the category\\n- Max 3 sentences\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        -48
      ],
      "id": "2d84086f-0a33-49cf-bf8e-929c9aa4eb9c",
      "name": "AI Reply Generator",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "emails",
          "mode": "list",
          "cachedResultName": "emails"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "response_sent": false,
            "id": "={{$node[\"Insert Email in Database\"].json[\"id\"]}}",
            "category": "={{$node[\"Gemini AI classification\"].json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "response_sent",
              "displayName": "response_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "51acfc2e-cc41-44a8-aa02-23a1d261226f",
      "name": "Update DB Category",
      "credentials": {}
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7fe198a2-c7de-4f5a-a10d-3cf7df43f3ed"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3916c47f-808e-4f7a-aa07-e41c6fe68c0c",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "support",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5a1497b-f6d5-4b4d-9820-5b441f5f42ee",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7cf0b94a-e467-4f88-b395-adf86e8f71fe",
                    "leftValue": "={{ $json.category }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        -32
      ],
      "id": "5b9038c1-e3bd-481d-ace9-cf39b3d9c072",
      "name": "Switch (only decides label)"
    },
    {
      "parameters": {
        "sendTo": "={{$json.from}}",
        "subject": "=Re: {{$node[\"Gmail Trigger\"].json[\"Subject\"]}}",
        "message": "={{$node[\"AI Reply Generator\"].json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1568,
        -48
      ],
      "id": "4928366f-c7f2-4c9e-b603-fbe899e86d66",
      "name": "Gmail Send",
      "webhookId": "413a5c1d-b90c-4d5c-877b-6ed0607614af",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$json.message_id}}",
        "labelIds": "={{$json.category.charAt(0).toUpperCase() + $json.category.slice(1)}}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1776,
        -48
      ],
      "id": "71ad5141-50c5-4e80-a046-56efa8494340",
      "name": "Add label to message",
      "webhookId": "733678f3-a50a-4798-92d5-792b2f8fc184",
      "credentials": {}
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2200651-4e41-490f-b2b6-0e05dca4e22d",
              "name": "reply",
              "value": "={{$node[\"AI Reply Generator\"].json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]}}",
              "type": "string"
            },
            {
              "id": "eb88eab9-d42f-4faf-8b86-57211266e60f",
              "name": "=category",
              "value": "={{$json.category}}",
              "type": "string"
            },
            {
              "id": "b6f8b494-3d81-4949-96d8-d643c15edb9b",
              "name": "=message_id",
              "value": "={{$node[\"Gmail Trigger\"].json[\"id\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -48
      ],
      "id": "5d91b2b4-37e3-45d3-a654-c884449178f9",
      "name": "Prepare Email Output"
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19cba6a62770bf47",
          "threadId": "19cba69f405849cc",
          "snippet": "network not working",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 606,
          "historyId": "505711",
          "internalDate": "1772654058000",
          "labels": [
            {
              "id": "SENT",
              "name": "SENT"
            },
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "Subject": "Subject: Bad service",
          "From": "J MADHAN KUMAAR <jmadhankumaar2005@gmail.com>",
          "To": "J MADHAN KUMAAR <jmadhankumaar2005@gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Insert Email in Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI classification": {
      "main": [
        [
          {
            "node": "Update DB Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Email in Database": {
      "main": [
        [
          {
            "node": "Gemini AI classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Reply Generator": {
      "main": [
        [
          {
            "node": "Prepare Email Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB Category": {
      "main": [
        [
          {
            "node": "Switch (only decides label)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch (only decides label)": {
      "main": [
        [
          {
            "node": "AI Reply Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Reply Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Reply Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Reply Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Output": {
      "main": [
        [
          {
            "node": "Gmail Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b09e27db-54a9-40ed-b4d0-7659e572e563",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33d3118021c86740b1a15c617d0d9d55d063df19d7374e00a1b8953c3734f20d"
  },
  "id": "6But5YyzxZ_esnecZJKjH",
  "tags": []
}
